<div class="ratingDropdownContainer">
  <div class="rateIcon">
    <i class="material-icons">star</i>
  </div>
  <div class="ratingDropdown">
    <ul>
      <li class="ratingChoice" (click)=rate(1)>
        <i class="material-icons">star</i>
      </li>
      <li class="ratingChoice" (click)=rate(2)>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
      </li>
      <li class="ratingChoice" (click)=rate(3)>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
      </li>
      <li class="ratingChoice" (click)=rate(4)>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
      </li>
      <li class="ratingChoice" (click)=rate(5)>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
      </li>
    </ul>
  </div>
</div>